@import "tailwindcss";
@tailwind utilities;

/* Override screen breakpoints */
@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
}

html {
  scroll-behavior: smooth;
}

/* Color variables */
:root {
  --background: #000000;
  --text-color: #ffffff;
}

/* General body css */
body {
  background: var(--background);
  color: var(--text-color);
  overflow-x: hidden;
}

/* Override active inputs browser styles-background and text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:enabled {
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
}

/* General input styles */
input,
textarea {
  @apply outline-none bg-black text-xs text-white/90 rounded-xl cursor-default px-4 py-3  focus:text-white;
}

/* Buttons and links */
button,
.link {
  cursor: pointer;
}

/* Smooth logo animation */
.logo-animation {
  @apply transition duration-500;
}

/* Smooth animation */
.smooth-animation {
  @apply transition duration-1000;
}

/* Hero background image */
.hero {
  background: url("./images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* Section heading */
.section-heading {
  @apply text-[14px] lg:text-[16px] font-medium;
}

/* Glassmorphic effect */
.glassmorphic {
  @apply bg-white/10 border border-white/10 backdrop-blur-2xl;
}

/* Red background */
.red-bg {
  @apply bg-red-600;
}

/* Red text */
.red-text {
  @apply text-red-600;
}

/* Contact input */
.contact-form input,
.contact-form textarea {
  @apply w-full bg-black;
}
